<ion-header [translucent]="true">
  <ion-img src="./assets/icon/home.jpg"></ion-img>
</ion-header>

<ion-content class='ion-padding-top ion-padding-start ion-padding-end'>
  <ion-toolbar color="warning">
    <h2 style="margin-left:90px;">ประเภท:แมวขนสั้น</h2>
    <ion-card>     
    <ion-slides pager="true" [options]="slideOpts">

      <ion-slide>     
        <ion-label>
          <ion-img src="./assets/icon/L1.jpg"></ion-img>
          <ion-card-header>
            <h2>ขี้อ้อน: ❤❤❤❤❤<br>
              เลี้ยงง่าย: ❤❤❤❤<br>
              ความซน: ❤❤❤<br>
              ชอบโวยวาย: ❤❤</h2>
          </ion-card-header>
          <br>
        </ion-label>
      </ion-slide>   

      <ion-slide>     
        <ion-label>
          <ion-img src="./assets/icon/L2.jpg"></ion-img>
          <ion-card-header>
            <h2>ขี้อ้อน: ❤❤❤<br>
              เลี้ยงง่าย: ❤❤❤❤❤<br>
              ความซน: ❤❤<br>
              ชอบโวยวาย: ❤</h2>
          </ion-card-header>
          <br>
        </ion-label>
      </ion-slide>          
    </ion-slides>    
    <!-- <ion-button expand="block" routerLink="/tab4">Click</ion-button> -->
  </ion-card>
<br>

<h2 style="margin-left:80px;">ประเภท:แมวขนยาว</h2>
<ion-card>
<ion-slides pager="true" [options]="slideOpts">

  <ion-slide>     
    <ion-label>
      <ion-img src="./assets/icon/M1.jpg"></ion-img>
      <ion-card-header>
        <h2>ขี้อ้อน: ❤❤❤<br>
          เลี้ยงง่าย: ❤❤❤❤<br>
          ความซน: ❤❤<br>
          ชอบโวยวาย: ❤</h2>
      </ion-card-header>
      <br>
    </ion-label>
  </ion-slide>  
    
  <ion-slide>     
    <ion-label>
      <ion-img src="./assets/icon/M2.jpg"></ion-img>
      <ion-card-header>
        <h2>ขี้อ้อน: ❤❤❤❤<br>
          เลี้ยงง่าย: ❤❤❤<br>
          ความซน: ❤❤❤❤❤<br>
          ชอบโวยวาย: ❤❤❤</h2>
      </ion-card-header>
      <br>
    </ion-label>
  </ion-slide>  
  
  <ion-slide>     
    <ion-label>
      <ion-img src="./assets/icon/M3.jpg"></ion-img>
      <ion-card-header>
        <h2>ขี้อ้อน: ❤❤❤❤❤<br>
          เลี้ยงง่าย: ❤❤❤❤<br>
          ความซน: ❤❤❤<br>
          ชอบโวยวาย: ❤❤</h2>
      </ion-card-header>
      <br>
    </ion-label>
  </ion-slide>  

</ion-slides>
<!-- <ion-button expand="block" routerLink="/tab4">Click</ion-button> -->
</ion-card>
<br>

<h2 style="margin-left:80px;">ประเภท:แมวขาสั้น</h2>
<ion-card>
<ion-slides pager="true" [options]="slideOpts">

  <ion-slide>
    <ion-label>
      <ion-img src="./assets/icon/T1.jpg"></ion-img>
      <ion-card-header>
        <h2>ขี้อ้อน: ❤❤❤<br>
          เลี้ยงง่าย: ❤❤❤<br>
          ความซน: ❤❤❤<br>
          ชอบโวยวาย: ❤❤❤</h2>
      </ion-card-header>
      <br>
    </ion-label>
  </ion-slide>  

  <ion-slide>
    <ion-label>
      <ion-img src="./assets/icon/T2.jpg"></ion-img>
      <ion-card-header>
        <h2>ขี้อ้อน: ❤❤❤❤❤<br>
          เลี้ยงง่าย: ❤❤❤<br>
          ความซน: ❤❤❤<br>
          ชอบโวยวาย: ❤❤❤</h2>
      </ion-card-header>
      <br>
    </ion-label>
  </ion-slide>  

  <ion-slide>
    <ion-label>
      <ion-img src="./assets/icon/T3.jpg"></ion-img>
      <ion-card-header>
        <h2>ขี้อ้อน: ❤❤❤❤❤<br>
          เลี้ยงง่าย: ❤❤❤❤<br>
          ความซน: ❤❤<br>
          ชอบโวยวาย: ❤❤</h2>
      </ion-card-header>
      <br>
    </ion-label>
  </ion-slide>    

  <ion-slide>
    <ion-label>
      <ion-img src="./assets/icon/T4.jpg"></ion-img>
      <ion-card-header>
        <h2>ขี้อ้อน: ❤❤❤<br>
          เลี้ยงง่าย: ❤❤❤<br>
          ความซน: ❤❤<br>
          ชอบโวยวาย: ❤❤</h2>
      </ion-card-header>
      <br>
    </ion-label>
  </ion-slide>    

  <ion-slide>
    <ion-label>
      <ion-img src="./assets/icon/T5.jpg"></ion-img>
      <ion-card-header>
        <h2>ขี้อ้อน: ❤❤❤❤❤<br>
          เลี้ยงง่าย: ❤❤❤❤❤<br>
          ความซน: ❤❤❤❤❤<br>
          ชอบโวยวาย: ❤❤❤</h2>
      </ion-card-header>
      <br>
    </ion-label>
  </ion-slide>    

  <ion-slide>
    <ion-label>
      <ion-img src="./assets/icon/T6.jpg"></ion-img>
      <ion-card-header>
        <h2>ขี้อ้อน: ❤❤❤❤❤<br>
          เลี้ยงง่าย: ❤❤❤❤❤<br>
          ความซน: ❤❤❤❤❤<br>
          ชอบโวยวาย: ❤❤❤❤❤</h2>
      </ion-card-header>
      <br>
    </ion-label>
  </ion-slide>    

</ion-slides>
<!-- <ion-button expand="block" routerLink="/tab4">Click</ion-button> -->
</ion-card>
<br>

<h2 style="margin-left:60px;">ประเภท:แมวป่าหายาก</h2>
<ion-card>
<ion-slides pager="true" [options]="slideOpts">

  <ion-slide>
    <ion-label>
      <ion-img src="./assets/icon/Y1.jpg"></ion-img>
      <ion-card-header>
        <h2><B>แมวทราย (Sand Cat)</B><br>
          • แมวที่อาศัยอยู่ในทะเลทรายซาฮารา<br>
          • กินสัตว์เลื้อยคลานเป็นอาหาร<br>
          • จุดเด่นอยู่ที่หน้าตาแบ๊วๆ </h2>
      </ion-card-header>
      <br>
    </ion-label>
  </ion-slide>  

  <ion-slide>
    <ion-label>
      <ion-img src="./assets/icon/Y2.jpg"></ion-img>
      <ion-card-header>
        <h2><b>แมวลิงซ์แคนาดา (Canadian Lynx)</b><br>
          • อาศัยตามป่าเขตหนาวแถบอะแลสกาและแคนาดา<br>
          • สามารถมองได้ไกลถึง 76 เมตร</h2>
      </ion-card-header>
      <br>
    </ion-label>
  </ion-slide>  

  <ion-slide>
    <ion-label>
      <ion-img src="./assets/icon/Y3.jpg"></ion-img>
      <ion-card-header>
        <h2><b>แมวพัลลัส (Pallas Cat)</b><br>
          • อาศัยอยู่แถบทะเลทรายอัลไพน์<br>
          • สามารถเปลี่ยนเป็นสีเท่าอ่อนได้ในฤดูหนาว<br>
          • เปลี่ยนเป็นสีเทาปนน้ำตาลแดงเมื่อถึงฤดูใบไม้ผลิ</h2>
      </ion-card-header>
      <br>
    </ion-label>
  </ion-slide>    

</ion-slides>
<!-- <ion-button expand="block" routerLink="/tab4">Click</ion-button> -->
</ion-card><br>
</ion-toolbar>
<br>
</ion-content>

