<ion-header [translucent]="true">
  <ion-img src="./assets/icon/home.jpg"></ion-img>
</ion-header>

<ion-content>
  <div class='ion-padding-top ion-padding-start ion-padding-end'>
    <center>
      <h1><B>TOP VOTE <ion-icon name="star"></ion-icon></B></h1>
    </center>
    <ion-card>
      <ion-list>
        <ion-radio-group value="grape">
          <ion-list-header>
            <ion-label>Favorite cat</ion-label>
          </ion-list-header>
          <ion-item>
            <ion-label>มันช์กิ้น (Munchkin)</ion-label>
            <ion-radio slot="start" color="success"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>สก็อตติช โฟลด์ (Scottish Fold)</ion-label>
            <ion-radio slot="start" color="tertiary"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>เบงกอล (Bengal)</ion-label>
            <ion-radio slot="start" color="danger"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>อเมริกัน เคิร์ล (American Curl)</ion-label>
            <ion-radio slot="start" color="warning"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>เอ็กโซติก ช็อตแฮร์ (Exotic Shorthair)</ion-label>
            <ion-radio slot="start" color="medium"></ion-radio>
          </ion-item>
        </ion-radio-group>

      </ion-list>
    </ion-card>


    <!-- Upload Image -->

    <ion-toolbar color="warning">

      <center>
        <h1><b>
            <ion-text color="dark">Upload Image</ion-text>
          </b></h1>
      </center>

      <h3 *ngIf="images.length == 0" class="ion-padding ion-text-center">Please Select Image!</h3>

      <ion-card *ngFor="let file of images; let i = index">
        <ion-img [src]="file.data" width="500"></ion-img>
        <ion-list>
          <ion-item>
            <ion-card-header>
              <ion-card-title><B>{{ file.name }}</B>
                <ion-button fill="clear"  class="icon-upload" (click)="startUpload(file)">
                  <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
                </ion-button>
                <ion-button fill="clear"  class="icon-delete" (click)="deleteImage(file)">
                  <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-button>
              </ion-card-title>
            </ion-card-header>
          </ion-item>
        </ion-list>
      </ion-card>

    </ion-toolbar>

    <ion-footer>
      <ion-button fill="clear" expand="full" color="warning" (click)="selectImage()">
        <ion-icon slot="start" name="camera"></ion-icon>
        Select Image
      </ion-button>
    </ion-footer>
  </div>
  <!-- <ion-list>
   <ion-item>
      <ion-card>
        <ion-label (click) = "goToDetail(item.docDetail1)">
        <ion-img src="./assets/icon/T2.jpg"></ion-img>
      </ion-label>
      </ion-card>
      <ion-card>
        <ion-img src="./assets/icon/T2.jpg"></ion-img>
      </ion-card>
    </ion-item>

    <ion-item>
      <ion-card>
        <ion-img src="./assets/icon/T2.jpg"></ion-img>
      </ion-card>
      <ion-card>
        <ion-img src="./assets/icon/T2.jpg"></ion-img>
      </ion-card>
    </ion-item>

    <ion-item>
      <ion-card>
        <ion-img src="./assets/icon/T2.jpg"></ion-img>
      </ion-card>
      <ion-card>
        <ion-img src="./assets/icon/T2.jpg"></ion-img>
      </ion-card>
    </ion-item>

  </ion-list> -->